body {
	font: verdana, arial, sans-serif;
	background-color: #ffffff;
	/* margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 8px; 
	padding-right: 8px; 
	*/
	/* 
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	*/
}
#docTop {
	font-size: 20px;
	border: 2px solid #000000;
	padding: 10px;
	margin-bottom: 10px;
	height: 76px;
}
#docTop #docTop_logo_left {
	float: left; 
}
#docTop #docTop_label {
	padding:10px;
	font-weight: bold; 
	float: left;  
	text-align: center;
	width:50%;
}
#docTop #docTop_logo_right {
	float: right;  
}
#whenWhere {
	font-size: 20px;
	border: 2px solid #000000;
	padding: 10px;
	margin-bottom: 10px;
}
#whenWhere #whenWhere_when {
	float: left;
	text-align:left; 
}
#whenWhere #whenWhere_where {
	text-align: right;
}
#QandA {
	float: left;
	width: 69%;
}	
#QandA ul {
	list-style: none;
	margin:10px;
	padding:0px;
}

#QandA ul ul {
	padding-left:15px;
}



#QandA li {
	font-weight: bold;
	font-size: 20px;
        margin:0px;
	margin-bottom: 5px;
        padding:0px;
}

#QandA li li {
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

#topics {
	border: 2px solid #000000;
	float: right;
	width: 30%;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#topics ul {
	list-style: none;
	margin:5px;
	padding:0px;
}

#topics ul ul {
	padding-left:10px;
}
#topics li {
	font-weight: bold;
	font-size: 14px;
        margin:0px;
        padding:0px;
}

#topics li li {
	font-size: 12px;
	font-weight: normal;
}

#bottomBox {
	border: 2px solid #000000; 
	clear: both;
	padding: 10px;
}

#docBottom {
	font-size: small;	
	padding-top: 1em;
	margin-top: 1em;
	height: 8em;	
	border-top: 1px solid #909090;
	clear: both;
}
#docBottom #address {
	float: left; 
	width: 40%;
	text-align: left;
}
#docBottom #otherContact {
	float: right;  
	text-align: right;
}

.content {
	border: 1px solid #000000;
	border-top: none;
	margin-top: 0px;
	padding: 5px;
	display: none;
}

/* The following is about the logical content */
#mainBody {
		
}
#mainBody #images {
	float: right;
	width: 15%; 
}
#mainBody #images ul {
	margin: 0;
	padding: 0;
}
#mainBody #images img { width: 80%; }
#mainBody #images li {
	list-style-type: none;
}
#mainBody #navcontent {
	width: 80%;
}
